/* styles.css */

/* Center the form horizontally and vertically */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style the form container */
.form-container {
    width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Style the form elements */
form {
    text-align: left;
}

label {
    font-weight: bold;
    font-size: 26px;
    color: #5386E4;
    font-family: 'Lucida Grande', Arial, sans-serif;
}

textarea {
    margin-top: 20px;
    width: 100%;
    resize: vertical;
}

input[type="submit"] {
    margin-top: 10px;
    background-color: #5386E4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    width: 100%;
    height: auto;
}

input[type="submit"]:hover {
    background-color: #5FD2DD;
}


.errorlist {
    color: indianred;
    font-size: 22px;
}

body {
    background: #CEEAED;
    font: normal 1.3rem sans-serif;
    padding: 4rem;
}

textarea {
    background-image: linear-gradient(#F1F1F1 50%, #F9F9F9 50%);
    background-size: 100% 4rem;
    border: 1px solid #CCC;
    width: 100%;
    line-height: 2rem;
    padding: 4px 4px;
    margin-top: 20px;
}

.title_pred {
    display: block;
    text-align: center;
    color: #5386E4;
    text-decoration: underline;
    font-size: 48px;
}

